<div class="container">
  <h1>UNKNOWN</h1>
  <h4>ENTER YOUR FREAKEN INFO</h4>
  <form action="/login" method ="POST">

    <label for="email"><h5>email</h5></label>
    <input type="text" name="email" placeholder="that's right, email">

    <label for="password"><h5>password</h5></label>
    <input type="text" name="password" placeholder="that's right, password">
     
    <input id="submit button" type="Submit">  
    
  </form>
</div>
