<div class="container">
  <h1>JOIN US</h1>
  <h4>ENTER YOUR FREAKEN INFO</h4>

  <form action="/create" method ="POST">

    <label for="first_name"><h5>first name</h5></label>
    <input type="text" name="user[first_name]" placeholder="first name">


    <label for="last_name"><h5>last name</h5></label>
    <input type="text" name="user[last_name]" placeholder="last name">


    <label for="email"><h5>email</h5></label>
    <input type="text" name="user[email]" placeholder="email">
 

    <label for="password"><h5>password</h5></label>
    <input type="text" name="user[password]" placeholder="password">


    <input id="submit button" type="Submit">

  </form> 
</div>
